* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
}

h1,
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: brown;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

img {
  height: 300px;
  width: auto;
}